@heightTravellerResult: 457px;
.highlighted() {
  background-color: darken(#f2f2f2, 2.5%);
}

.intro {
  width : 860px;
  
  a {
    display: inline-block;
    vertical-align: top;
    height: 201px;
    overflow-y: hidden;
    
    &.play {
      padding-top: 68px;
    }
    &:last-child {
      margin-top: -1px;
    }
  }
}

.form-inline {
  margin-top: @nav-tabcontent-spacing;
  
  .form-group, .btn {
    margin-right: @form-input-spacing; //FIXME:  Natural gap of bootstrap is not working
  }
}

#traveller {
  .col-md-9 {
    padding-right: 0;
  }
}
.traveller {
  background: url(../img/arrowUp.jpg) repeat-x top, url(../img/arrowDown.jpg) repeat-x bottom;
  background-color: #f2f2f2;
  padding: 15px 10px;
  position: relative;
  margin-right: 20px;
  
  .arrow {
    display: none;
    position: absolute;
    right: 0;
    top: 33.5%;
    
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent transparent transparent darken(#f2f2f2, 2.5%);
    border-width: 11px 0 11px 11px;
    margin-right: -11px;
  }
  
  &.focused {
    .highlighted();
  }
  
  &:hover, 
  &.selected {
    .highlighted();
    .arrow {
      display: block;
    }
  }
}

.smartTravellers {
  .row {
    margin: 10px 0;
    
    > .col-md-4:first-child {
      padding-left: 25px;
    }
    > .col-md-4:last-child {
      padding-left: 0;
    }
  }
  
  .glyphicon-user {
    margin-right: 6px;
  }
}

.profileSummary {
  padding-left: 0;
  > .popover {
    position: static;
    max-width: 100%;
    display: block;
  }
  ul {
    padding: 4px;
    margin-bottom: 65px;
  }
}

.smartTravellers, .profileSummary > .popover {
  margin-top: @nav-tabcontent-spacing/2;
  height: @heightTravellerResult;
  overflow-y: auto;
}

.car  {
  background: url(../img/travelMode.png) no-repeat 0 -60px;
}
.train  {
  background: url(../img/travelMode.png) no-repeat 0 -100px;
}
.walk  {
  background: url(../img/travelMode.png) no-repeat 0 -140px;
}
.cycle  {
  background: url(../img/travelMode.png) no-repeat 0 -180px;
}
.flight  {
  background: url(../img/travelMode.png) no-repeat 0 -220px;
}
.to  {
  background: url(../img/travelMode.png) no-repeat 0 -250px;
}

.borderradius #profileSummaryView a.thumbnail {
  border-width: 0;
  width: 100px;
  height: 100px;
}
.glyphicon-star {
  color: #ECECEC;
  &.good {
    color: #FFD700;
  }
  &.bad {
    color: #000;
  }
}
