.border-radius (@radius: 6px) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
      -ms-border-radius: @radius;
       -o-border-radius: @radius;
          border-radius: @radius;
}

.box-shadow (@shadow) {
  -webkit-box-shadow: @shadow;
     -moz-box-shadow: @shadow;
          box-shadow: @shadow;
}

.side-nav {
  .thumbnail {
    margin-bottom: 0px;
  }
}
.borderradius .side-nav a.thumbnail {
  border-width: 0;
}
.nav-list {
  .border-radius;
  .box-shadow(0 1px 4px rgba(0, 0, 0, 0.065));
  
  margin: 3px 0 0 0;
  padding: 0;
  background-color: #FFF;
  
  .glyphicon-chevron-right {
    float: right;
    margin-top: 2px;
    margin-right: -6px;
  }
  
  > li {
    > a {
      width: 190px \9;
      margin: 0 0 -1px;
      border: 1px solid #E5E5E5;
    }
    &:first-child > a {
      .border-radius(6px 6px 0 0);
    }
    &:last-child > a {
      .border-radius(0 0 6px 6px);
    }
    &.active > a,
    &.active > a:hover,
    &.active > a:focus {
      color: #FFF;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
      background-color: #18BC9C;
    }
  }
}
.glyphicon-edit {
  top: 3px;
}