// Override for navbar
@navbar-default-color:             #fff;
@navbar-default-bg:                #18BC9C;

// Navbar links
@navbar-default-link-color:                #fff;
@navbar-default-link-hover-color:          #fff;
@navbar-default-link-hover-bg:             darken(@navbar-default-bg, 6.5%);
@navbar-default-link-active-color:         #fff;
@navbar-default-link-active-bg:            darken(@navbar-default-bg, 3.5%);

// Navbar brand label
@navbar-default-brand-color:               @navbar-default-link-color;
@navbar-default-brand-hover-color:         @navbar-default-link-color;
@navbar-default-brand-hover-bg:            darken(@navbar-default-bg, 6.5%);

// Tabs
@nav-tabs-active-link-hover-color:         #95A5A6;

@brand-success:   @navbar-default-bg;
@brand-primary:   @navbar-default-bg;