@form-input-spacing:             10px;
@nav-tabcontent-spacing:             34px;

body {
  padding-top: @navbar-height; // Added to compensate for navbar-fixed-top on nav
}
section {
  margin-top: 40px;
}